.btn-5 {
    width: 80px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 40px;
    color: white;
    background: rgb(255, 27, 0);
    background: linear-gradient(
        0deg,
        rgba(255, 27, 0, 1) 0%,
        rgba(251, 75, 2, 1) 100%
    );
}
.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}
.btn-5:before,
.btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
.css-button-icon {
    position: relative;
    border-right: 1px solid #ffffff29;
    box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
    padding: 10px 10px;
}
footer {
    background: transparent;
    padding: 15px 23px;
    color: black;
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}
